@model ProcCore.Business.DB0.News
@{
    ViewBag.Title = "最新消息";
    ViewBag.Title2 = @ViewBag.Title;
    ViewBag.BodyClass = "News News_content";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h3 class="title">
    @Model.news_title
</h3>

<p class="date">@Model.news_date.ToString("yyyy/MM/dd")</p>

@if (Model.stereotype == 1)
            {
    <article class="editor">
        @Html.Raw(Model.news_content)
    </article>
}
else if (Model.stereotype == 2)
{
    <article class="editor row">
        <div class="col-8 col-xs-7 col-xxs-12">@Html.Raw(Model.news_content)</div>
        @if (Model.imgsrc != null & Model.imgsrc != "")
        {
            <p class="col-4 col-xs-5 col-xxs-12"><img src="@Model.imgsrc" alt="" class="thumb"></p>
        }
    </article>
}
else if (Model.stereotype == 3)
{
    <article class="editor row">
        @if (Model.imgsrc != null & Model.imgsrc != "")
        {
            <p class="col-4 col-xs-5 col-xxs-12"><img src="@Model.imgsrc" alt="" class="thumb"></p>
        }
        <div class="col-8 col-xs-7 col-xxs-12">@Html.Raw(Model.news_content)</div>
    </article>
}

<p class="back">
    <a href="~/News/list" class="btn">&lt;&lt; Back</a>
</p>