<!DOCTYPE html>
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="積層晶片電感, 積層晶片變壓器, 積層晶片濾波器, 積層電阻式電感, 電子組件製造, 電子組件加工, 桃園, 楊梅, 倡譽, 倡譽興業">
    <meta name="description" content="倡譽興業有限公司公司於民國97年成立於桃園縣，經營項目包括：各種電子組件之製造加工及買賣、積層晶片電感、積層晶片變壓器、 積層晶片濾波器之製造加工及買賣、積層電阻式電感之製造加工及買賣、前項產品之買賣及進出口貿易。">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title:@Resources.Res.System_Name</title>
    <script src="~/Scripts/BrowerInfo.js"></script>
    <script>
        var gb_approot = '@Url.Content("~")';
    </script>
    @if (ViewBag.IsFirstPage)
    {
        <link href="~/Content/css/index.css" rel="stylesheet">
    }
    else
    {
        <link href="~/Content/css/page.css" rel="stylesheet">
    }
    @RenderSection("css", false)
</head>

<body class="@ViewBag.BodyClass">

<div id="wrapper">

    <header id="header">
        <div class="wrap">
            <h1 class="logo"><a href="~/Index" title="回首頁"><em>醫美級專業面膜</em>潔芙丹妮有限公司</a></h1>
            <button class="menu-trigger"></button>
            <nav id="menu">
                <header class="toggle">
                    <h2>MENU</h2>
                </header>
                <a href="~/AboutUs">品牌故事</a>
                <a href="~/News/list">最新消息</a>
                <a href="~/Products/list">產品介紹</a>
                <a href="~/Quality">優良品質</a>
                <a href="~/ContactUs">聯絡我們</a>
            </nav>
        </div><!-- wrap //-->
    </header><!-- header //-->

    <main id="main">
        @if (ViewBag.IsFirstPage)
        {
            @RenderBody()
        }
        else {
            <section id="content">
                <header id="banner">
                    <h2 class="title">@ViewBag.Title2</h2>
                    <p>
                        Sticking to natural ingredients,<br>
                        we have been devoted to developing and provide skin-care products<br>
                        really helpful in your pursuit of beautiful soft skin.
                    </p>
                </header>
                <div class="wrap">
                    <ul class="breadcrumb">
                        <li><a href="~/Index">HOME</a></li>
                        @RenderSection("breadcrumb", false)
                        <li>@ViewBag.Title</li>
                    </ul>
                    @RenderBody()
                </div>
            </section>
        }
    </main>

</div><!-- wrapper //-->

<footer id="footer">
    <div class="wrap">
        <p class="logo"><em>醫美級專業面膜</em>潔芙丹妮有限公司</p>
        <ul class="contact list-inline">
            <li><img src="~/Content/images/qr.gif" alt=""></li>
            <li><img src="~/Content/images/qr2.jpg" alt=""></li>
            <li><a href="~/ContactUs">聯絡我們</a></li>
            <li><a href="http://www.facebook.com/909374702484023/" target="new">Facebook 粉絲專頁</a></li>
        </ul>
        <p class="mit">台灣製造<em>Made <span>in</span> TAIWAN</em></p>
        <p class="copyright">&copy; 2015 JFDN Co., Ltd.</p>
        <a href="#header" class="goTop">TOP</a>
    </div>
</footer><!-- footer -->

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
    // 回頂端
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
            $('.goTop').fadeIn();
        } else {
            $('.goTop').fadeOut();
        }
    });
    $('.goTop').click(function (event) {
        $('html, body').animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 1000);
        event.preventDefault();
    });

    // 行動裝置的主選單
    $(".menu-trigger").click(function (event){
        $("body").toggleClass("toggled");
        event.preventDefault();
    });

    // 行動裝置的產品左選單
    $(".submenu-trigger .btn").click(function (event){
        $("#sidebar").slideToggle();
        event.preventDefault();
    });
</script>
@RenderSection("Scripts", required: false)

</body>
</html>