@{
    Layout = "~/Views/Shared/Manage/RLayout.cshtml";
}
@section breadCrumb {
    <li><a href="~/Active/Need/DietaryNeed"><i class="fa-cogs"></i> @ViewBag.MenuName</a></li>
    <li>@ViewBag.Caption</li>
}
@section IncludeCSS{

}
@section IncludeScript{
    @Html.Partial("Manage/JSGlobalVar")
    <script src="~/Scripts/build/comminc.js"></script>
    <script src="~/Scripts/app/Sortable.min.js"></script>
    <script src="~/Scripts/app/react-sortable-mixin.js"></script>
    <script src="~/Scripts/build/func/m-Menu.js"></script>
    <script>
        var getRootDOM = document.getElementById('page_content');
        var rootParm = { MenuName: '@ViewBag.MenuName', Caption: '@ViewBag.Caption', IconClass: 'fa-cogs' };
        var compObject = React.render(React.createElement(GirdForm, rootParm), getRootDOM);
    </script>
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}